@model MvcApplication2.Models.TouristAttraction

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Attraction", FormMethod.Post, new { id = "CreateAttraction" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TouristAttraction</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)        
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>    
      @Html.RouteLink("Back to List","Default",new {Controller="Attraction", action="Index"})
</div>

@section Scripts {  
    @* We are sharing the script manager with the one on Site.master so we don't need these. *@
    @* Scripts.Render("~/bundles/jqueryval") *@    
    @*<script type="text/javascript" src="~/Scripts/EFSpatialGoogleMaps.js"/></script>*@
}
