@model MvcApplication2.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Review</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Author)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comments)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TouristAttraction.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TouristAttraction.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ReviewId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
