@model IEnumerable<MvcApplication2.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TouristAttraction.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TouristAttraction.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReviewId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReviewId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReviewId })
        </td>
    </tr>
}

</table>
